 @media screen and (max-width:1199px) {
    .header-left {column-gap: 35px;}
    .menu>ul {column-gap: 10px;}
    .header-right ul {column-gap: 10px;}
    .logo img {width: 110px;}
    .header-right ul li a {font-size: 22px;}
    .header-right .search-icon { width: 40px; height: 40px; font-size: 18px;}
    .menu>ul>li>a {line-height: 81px;}
    #banner-top {padding-top: 35px;}
    .breadcrumbs {padding-bottom: 45px;}
    .banner-top-main {padding-bottom: 65px; justify-content: space-between;}
    #banner-bottom {padding: 60px 0 65px 0;}
    .player a img {max-width: 30px;}
    .cabinate-bath-main {row-gap: 21px;}
    .home-main {padding: 50px 0 65px 0;column-gap: 21px;}
    .home-txt a {width: 35px; height: 35px; font-size: 15px;}
    #product {padding-bottom: 0;}
    .shop-main {padding: 50px 0;}
    .back a {font-size: 22px;}
    .back {padding-bottom: 30px;}
    .inspiration-text {padding: 45px 0 40px 0;}
    .interior-design-main {padding-bottom: 50px;}
    .footer-top {padding: 45px 0 50px 0;}
    .footer-middle-main2 {padding-top: 65px;}
    .footer-bottom {padding: 21px 0 22px 0;}
    .series {padding-bottom: 40px;}
    .seller {padding: 20px 0;}
    .classic-main {justify-content: start; column-gap: 20px; row-gap: 10px;}
    .classic {width: calc(25% - 15px);padding-bottom: 35px;}
    .brizo-img {width: 38%;}
    .banner-top-text p {font-size: 15px;}
    .our h2 {padding: 0 42px 0 48px;font-size: 38px;}
    .home-txt h5 {font-size: 22px;}
    .series h2 {font-size: 36px; padding: 0 30px;}
    .inspiration-text h2 {font-size: 39px;}
    .seller-txt h2 {font-size: 32px;}
    .player {width: 100px;height: 100px;}
    .inspiration-text a {width: 200px; height: 45px; line-height: 45px; font-size: 15px;}
    .search-form-box .close-btn {right: 110px;}
    .brizo-img img {max-width: 330px;}
    body {padding-top: 82px;}
}



@media screen and (max-width:991px) {
    #header {padding: 10px 0;}
    .header-right {display: flex; align-items: center;}
    .toggle-bar {display: block; margin-left: 10px; width: 25px; text-align: center;}
    .open-menu .toggle-bar i:before {content: '\f00d';}
    .menu {position: absolute; left: -100%; top: 100%; width: 100%; background: #000; border-top: solid 1px #fff; transition: all ease 0.5s; z-index: 9;}
    .open-menu .menu {left: 0;}
    .menu>ul {flex-direction: column; padding: 15px 0;}
    .menu>ul>li {width: 100%; display: block; margin: 5px 0;}
    .menu>ul li:hover i:before {content: "\f107";}
    .menu>ul li.open-sub-menu i:before {content: "\f106";}
    .menu>ul>li>a {display: block; line-height: 30px;padding: 0 15px;}
    .menu>ul>li>.fa-angle-down {position: absolute; right: 15px; padding: 0; width: 40px; height: 30px; top: 0; display: flex; justify-content: center; align-items: center; cursor: pointer; font-size: 24px;}
    .menu>ul>li .drop-down,
    .menu>ul>li:hover .drop-down {position: initial; visibility: visible; opacity: 1; width: 100%; display: none;}
    .menu>ul>li.open-sub-menu .drop-down {display: block;}
    .banner-top-text p {font-size: 14px;}
    #banner-top {padding-top: 30px;}
    .breadcrumbs {padding-bottom: 35px;}
    .banner-top-main {padding-bottom: 40px;}
    #banner-bottom {padding: 50px 0;}
    .our h2 {font-size: 32px; padding: 0 26px;}
    .home-txt h5 {font-size: 18px;}
    #product {padding-bottom: 0;}
    .shop-main {padding: 30px 0;}
    .series h2 {font-size: 32px; padding: 4px 25px;}
    .classic-main {justify-content: start; column-gap: 15px;}
    .classic {width: calc(33.333% - 10px); padding-bottom: 20px;}
    .inspiration-text {padding: 25px 0 35px 0;}
    .interior-design-txt h5 {font-size: 17px;}
    .interior-design-txt a {font-size: 15px;}
    .seller-txt h2 {font-size: 26px;}
    .footer-top-logo a img {max-width: 200px;}
    .interior-design-main {padding-bottom: 30px;}
    .back a {font-size: 20px;}
    .back {padding-bottom: 25px;}
    .player {width: 80px; height: 80px;}
    .player a img {max-width: 24px;}
    .seller {padding: 15px 0;}
    .seller-img {width: 100%; max-width: 80px;}
    .footer-top {padding: 25px 0 30px 0;}
    .footer-middle {padding: 35px 0 43px 0;}
    .product {width: 50%;}
    .footer-middle-main {justify-content: start; flex-wrap: wrap; row-gap: 30px;}
    .breadcrumbs ul li a {font-size: 22px;}
    .breadcrumbs span {font-size: 22px;}
    .product h4 {font-size: 18px;}
    .connect h4 {font-size: 18px;}
    .connect ul li a {width: 38px; height: 38px; font-size: 18px;}
    .classic h5 {padding-top: 15px;}
    .footer-middle-main2 {padding-top: 50px; column-gap: 20px; row-gap: 20px; justify-content: center;}
    .inspiration-text a {width: 180px; height: 40px; font-size: 15px; line-height: 40px;}
    .inspiration-text h2 {font-size: 38px;}
    .cabinate-main {width: calc(50% - 11px);}
    .cabinate-main-2 {width: 50%;}
    .cabinate-bath-main {width: 100%; row-gap: 23px; order: 3; flex-direction: row; column-gap: 20px;}
    .home-main {padding: 30px 0; flex-wrap: wrap; row-gap: 21px;}
    .series {padding-bottom: 25px;}
    .video-modal-popup .modal-wrapper {width: 480px; padding: 13px; height: 445px;}
    .video-modal-popup .close-icon {right: -15px; top: -15px; width: 35px; height: 35px;}
    .video-modal-popup  .modal-content {width: 100%; height: 420px;}
    .video-modal-popup .modal-content iframe {display: block; width: 100%; height: 420px;}
    .header-right .search-icon {width: 40px; height: 40px; font-size: 18px;}
    .header-right ul li a {color: #FFF; font-size: 21px;}
    .toggle-bar i {font-size: 21px; color: #fff;}
    .search-form-box .close-btn {right: 130px;}
    body {padding-top: 65px;}
}

@media screen and (max-width:767px) {
    .header-right .search-icon {width: 38px; height: 38px; font-size: 16px;}
    .header-right ul li a {font-size: 20px;}
    .toggle-bar i {font-size: 20px;}
    .inspiration-text a { width: 165px; height: 40px; line-height: 40px; font-weight: 400; font-size: 14px;}
    .brizo-img {width: 100%;}
    .brizo-img img {max-width: 300px;}
    .banner-top-main {flex-wrap: wrap; row-gap: 20px;}
    .banner-top-text {width: 100%;}
    .our h2 {font-size: 30px;}
    .cabinate-bath-main {row-gap: 16px;}
    .series h2 {font-size: 30px; padding-top: 5px;}
    .shop-main {padding: 30px 0;}
    .inspiration-text {padding: 35px 0 45px 0;}
    .inspiration-text h2 {font-size: 32px;}
    .interior-design {width: 100%;}
    .breadcrumbs ul li a {font-size: 20px;}
    .breadcrumbs span {font-size: 20px;}
    #banner-bottom {padding: 40px 0;}
    .player {width: 60px; height: 60px;}
    .player a img {max-width: 20px;}
    .product {width: 48%;}
    .interior-design-txt a {font-size: 14px;}
    .interior-slider .slick-dots li button {width: 10px; height: 10px;}
    .seller {column-gap: 15px;}
    .seller-img img {max-width: 70px;}
    .seller-txt h2 {font-size: 22px;}
    .logo-slider .slick-dots li button {width: 10px; height: 10px;}
    .footer-middle {padding: 35px 0;}
    .footer-copyright a {font-size: 13px;}
    .footer-copyright ul li a {font-size: 13px;}
    .video-modal-popup .modal-wrapper {width: 400px; padding: 12px; height: 345px;}
    .video-modal-popup .close-icon {right: -15px; top: -15px; width: 30px; height: 30px;}
    .video-modal-popup  .modal-content {width: 100%; height: 350px;}
    .video-modal-popup .modal-content iframe {display: block; width: 100%; height: 320px;}
    .search-form-box .close-btn {right: 130px;}
}

@media screen and (max-width:575px) {
    .header-right ul li a {font-size: 16px;}
    .icon {width: 35px; height: 35px; font-size: 16px;}
    .toggle-bar i {font-size: 16px;}
    .brizo-img img {max-width: 220px;}
    .banner-top-main {padding-bottom: 30px;}
    .our h2 {font-size: 22px; padding: 0 15px;}
    .cabinate-main {width: 100%;}
    .cabinate-bath-main {row-gap: 16px; flex-wrap: wrap;}
    .cabinate-main-2 {width: 100%;}
    .series h2 {font-size: 24px;}
    .classic {width: calc(50% - 8px); padding-bottom: 10px;}
    .classic h5 {padding-top: 5px; font-size: 14px;}
    .inspiration-text {flex-direction: column; row-gap: 10px;}
    .inspiration-text {padding: 30px 0 35px 0;}
    .interior-slider .slick-dots li button {width: 9px; height: 9px;}
    .seller {flex-direction: column; row-gap: 10px;}
    .seller-txt h2 {font-size: 19px;}
    .product {width: 100%; text-align: center;}
    .connect {width: 100%; text-align: center;}
    .footer-middle-main2 {column-gap: 20px; row-gap: 0; justify-content: center;}
    .footer-copyright {flex-direction: column; row-gap: 5px;}
    .footer-copyright a {font-size: 12px; text-align: center;}
    .footer-copyright ul li a {font-size: 12px;}
    .connect ul {justify-content: center; padding-top: 6px;}
    .language-currency {justify-content: center;}
    .search-form-box input {padding: 0 25px; font-size: 16px;}
    .search-form-box .close-btn {font-size: 20px; right: 50px;}
    .inspiration-text a {width: 140px;}
    .inspiration-text h2 {font-size: 30px;}
    .interior-design-txt p {padding: 9px 0 10px 0;}
    .back a {font-size: 18px;}
    .interior-design-main {padding-bottom: 20px;}
    .seller-txt h2 {font-size: 18px;}
    .currency select {font-size: 12px;}
    .language select {font-size: 12px;}
    .footer-copyright ul {justify-content: center;}
    .product ul {row-gap: 6px;}
    .connect h4  {padding-bottom: 6px;}
    .product h4 {padding-bottom: 8px;}
    .video-modal-popup .modal-wrapper {width: 280px; padding: 10px; height: 240px;}
    .video-modal-popup .close-icon {right: -15px; top: -15px; width: 25px; height: 25px;}
    .video-modal-popup  .modal-content {width: 100%; height: 220px;}
    .video-modal-popup .modal-content iframe {display: block; width: 100%; height: 220px;}
    .header-right .search-icon {width: 35px; height: 35px;}
    .footer-top-logo {width: 100%; text-align: center;}
    .seller-img {text-align: center;}
    .seller-img img {max-width: 55px;}
    .logo a {max-width: 120px;}
    body {padding-top: 60px;}
}




/* @media screen and (max-width:1199px) {
    .header-left {column-gap: 35px;}
    .menu>ul {column-gap: 15px;}
    .menu>ul>li>a { font-size: 14px; line-height: 85px;}
    .header-right ul {column-gap: 15px;}
    .header-right ul li a {font-size: 22px;}
    .header-right .search-icon { width: 40px; height: 40px; font-size: 18px;}
    #banner-top {padding-top: 35px;}
    .breadcrumbs {padding-bottom: 55px;}
    .banner-top-main {padding-bottom: 65px;}
    .video-modal-popup .modal-wrapper {width: 600px;}
    .player { width: 100px; height: 100px;}
    .player a img {max-width: 30px;}
    body {padding-top: 87px;}
    .home-main {padding: 55px 0;}
    .shop-main {padding: 80px 0;}
    .interior-design-main {padding-bottom: 80px;}
    .seller-img {max-width: 80px;}
    .seller-txt h2 {font-size: 36px;}
    .footer-top-logo a img {max-width: 220px;}
    .footer-top {padding: 50px 0;}
    .product ul {row-gap: 10px;}
    .connect ul li a { width: 45px; height: 45px; font-size: 20px;}
    .home-txt h5 {font-size: 22px;}
    .home-txt a { width: 35px; height: 35px; font-size: 14px;}
    .classic-main { justify-content: start; column-gap: 20px; row-gap: 30px;}
    .classic {width: calc(20% - 16px);}
    .inspiration-text a {width: 200px;}
    #banner-bottom {padding: 71px 0 80px 0;}
}
@media screen and (max-width:1023px) {
    .logo a {max-width: 125px;}
    .menu .fa {padding-left: 3px;}
    .header-right ul {column-gap: 10px;}
    .header-right ul li a {font-size: 20px;}
    body {padding-top: 82px;}
    .menu>ul>li>a {line-height: 80px;}
    #banner-top {padding-top: 30px;}
    .breadcrumbs {padding-bottom: 30px;}
    .brizo-img {max-width: 350px;}
    .banner-top-main {padding-bottom: 40px;}
    .video-modal-popup .modal-wrapper {width: 550px;}
    #banner-bottom {padding: 70px 0;}
    #product {padding-bottom: 20px;}
    .home-main {padding: 40px 0 50px 0;}
    .cabinate-main-2:hover .home-txt {padding-bottom: 40px;}
    .inspiration-text a { width: 180px; height: 48px; line-height: 48px;}
    .interior-design-main {padding-bottom: 50px;}
    .back {padding-bottom: 40px;}
    .seller-img {max-width: 60px;}
    .seller-txt h2 {font-size: 32px;}
    .seller {column-gap: 25px; padding: 30px 0;}
    .footer-top-logo a img {max-width: 200px;}
    .footer-top {padding: 45px 0;}
    .connect ul li a { width: 40px; height: 40px; font-size: 18px;}
    .language-currency-main h5 {padding: 15px 0 10px 0;}
    .footer-middle-main2 {padding-top: 65px;}
    .product ul {row-gap: 8px;}
    .inspiration-text {padding: 70px 0 40px 0;}
    .our h2 {font-size: 38px;}
    .cabinate-bath-main {row-gap: 20px;}
    .series h2 {font-size: 38px;}
}
@media screen and (max-width:991px) {
    .menu>ul {display: none;}
    .header-main {padding: 15px 0;}
    body {padding-top: 73px;}
    .breadcrumbs {padding-bottom: 20px;}
    .brizo-img {max-width: 280px; width: calc(35% - 15px);}
    .search-form-box .close-btn { right: 100px;}
    .banner-top-main {justify-content: start; column-gap: 30px; padding-bottom: 30px;}
    .banner-top-text {width: 65%;}
    .banner-top-text p {font-size: 15px; padding-top: 5px;}
    #banner-bottom {padding: 55px 0;}
    .player a img {max-width: 25px;}
    .player { width: 90px; height: 90px;}
    .home-main {padding: 40px 0;}
    .cabinate-bath-main {row-gap: 15px;}
    .home-main { justify-content: start; column-gap: 15px;}
    .home-txt { left: 10px; right: 10px;}
    .home-txt h5 {font-size: 20px;}
    .header-right { display: flex; align-items: center; column-gap: 15px;}
    .toggle-bar { display: block; font-size: 20px;}
    .toggle-bar a {color: #fff;}
    #header .menu>ul { display: block; top: 71px; left: -100%; background-color: red; position: absolute; width: 100%; transition: all ease 0.6s;}
    #header.open-menu .menu>ul { display: block; top: 71px; left: 0; background-color: red; position: absolute; width: 100%;}
    #header.open-menu .menu>ul>li>a {padding: 0 15px;}
    .menu>ul>li>a {line-height: 50px;}
    .menu .fa {line-height: 50px;}
    .menu>ul>li .drop-down { width: 100%; position: absolute; background-color: #1299c5; top: 0; left: -100%; transition: all ease 1s;}
    .menu>ul>li { color: #FFF; display: block; align-items: center; position: relative; transition: all ease 0.6s;}
    .menu>ul>li.open-sub-menu .drop-down { position: relative; left: 0; width: 100%; top: 0; z-index: 999;}
    .video-modal-popup .modal-wrapper {width: 500px;}
    .shop-main {padding: 65px 0;}
    .classic {width: calc(25% - 15px);}
    .classic-main { column-gap: 20px; row-gap: 25px;}
    .inspiration-text {padding: 60px 0 35px 0;}
    .interior-design-main {padding-bottom: 40px;}
    .back {padding-bottom: 30px;}
    .seller-txt h2 {font-size: 30px;}
    .footer-top {padding: 40px 0;}
    .footer-top-logo a img {max-width: 180px;}
    .product {width: calc(33.33% - 20px);}
    .footer-middle-main { justify-content: start; gap: 30px; flex-wrap: wrap;}
    .footer-middle {padding: 50px 0;}
    .footer-bottom {padding: 25px 0;}
}
@media screen and (max-width:767px) {
    .brizo-img {width: 100%;}
    .banner-top-main { flex-wrap: wrap; row-gap: 15px; padding-bottom: 25px;}
    .banner-top-text {width: 100%;}
    .header-main {padding: 10px 0;}
    body {padding-top: 62px;}
    #banner-top {padding-top: 25px;}
    #banner-bottom {padding: 45px 0;}
    .our h2 {
        font-size: 36px;
        padding: 0 35px;
    }
} */